#main .hero-unit {
	text-align: center;
}

#main .hero-unit {
	text-align: center;
}

#main .hero-unit img {
	width: 475px;
}

.row h2 {
	text-align: center;
}

div.row3,
#organizacao div.row2 {
	padding-bottom: 0px !important;
	border-bottom: none !important;	
}

#organizacao div ,
#patrocinio div,
#apoiadores div {
	padding-bottom: 5px;
	border-bottom: 1px dotted silver;
	height: 130px;
	text-align: center;
}

#organizacao img ,
#patrocinio img,
#apoiadores img {
	max-width: 150px;
	max-height: 100px;
	margin: 5px;
	position:relative;
	top:50%;
	margin-top:-35px;	
}

 /* Landscape phones and down */
  @media (max-width: 480px) {
	.hero-unit {
		padding: 30px;
	}
	
	.hero-unit h1 {
		font-size: 30px;
	}
	
	.hero-unit h2 {
		font-size: 20px;
	}
  }
 
  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {  }
 
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {  }
 
  /* Large desktop */
  @media (min-width: 1200px) {  }